.comment {
  .comment-user-info {
    @extend .col-xs-11;

    img.avatar {
      margin-right: -12px;
    }

    .name {
      @extend .col-xs-offset-1;
      display: inline-block;
    }
  }

  .comment-actions {
    @extend .actions;
  }

  .comment-content,
  .comment-created-at {
    @extend .col-xs-10, .col-xs-offset-2;
  }

  .comment-content {
    margin-top: -10px;
  }

  .comment-created-at {
    font-size: $small-font-size;
    color: $light-text-color;
  }
}
