{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "func-names": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "no-console": ["error", { allow: ["warn", "error"] }]
  },
  "extends": "airbnb"
}
