<% unless activity.trackable.nil? %>
  <div class="activity">
    <%= render 'partials/avatar', user: activity.trackable.follower %> <%= activity.trackable.follower.name %> follows <%= render 'partials/avatar', user: activity.trackable.followable %> <%= activity.trackable.followable.name %>
  </div>
<% end %>