<% if belongs_to_user?(comment) %>
  <div class="dropdown">
    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="icon-down-open-big"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'Delete', comment_path(comment), method: :delete, remote: true %>
      </li>
    </ul>
  </div>
<% end %>
