<%= form_tag comments_path(commentable_type: c.class.to_s, commentable_id: c.id), class: 'comments-form', method: :post, remote: true do %>
  <div class="form-group">
    <div class="row">
      <div class="comments-form-avatar">
        <%= render 'shared/avatar', user: current_user %>
      </div>
      <div class="comments-form-textbox">
        <div contenteditable="true" class="editable form-control input-mentionable" placeholder="Enter Comment"></div>
        <%= hidden_field_tag :comment_text, nil %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= button_tag class: 'btn btn-sm btn-primary-inverted pull-right' do %>
      <i class="icon-comment"></i> comment
    <% end %>
  </div>
<% end %>
