// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left-sidebar {
  @extend .col-md-3;

  #profile-block {
    padding-bottom: 15px;

    .cover {
      height: 125px;
      margin-bottom: 35px;
      position: relative;

      .avatar {
        width: 95px;
        height: 95px;
        border-radius: 10rem;
        position: absolute;
        bottom: 0;
        left: 34%;
        margin-bottom: -45px;
        border: 3px solid white;
      }
    }

    .section {
      @extend .col-xs-12, .text-center;
      padding: 5px 30px 10px;
      line-height: 1.85rem !important;
    }
  }

  #about-block {
    margin-top: 20px;
    padding: 0;

    ul {
      margin-bottom: 5px;

      li {
        text-align: left;
        border-radius: 0;
        border-left: none;
        border-right: none;

        i {
          margin-left: 15px;
          margin-right: 15px;
        }
      }

      li:first-child {
        border-top: none;
      }

      li:last-child {
        border-bottom: none;
      }
    }

    .section {
      @extend .col-xs-12;
    }
  }

  .stats-count {
    @extend .col-xs-4;

    h4 {
      margin: 0;
      font-family: $default-font;
      font-size: $vlarge-font-size;
      font-weight: bold;
      @extend .text-center;
    }

    span {
      font-size: 0.95rem;
      font-weight: 300;
      @extend .text-center;
    }
  }
}
