.sidebar-block {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 3px;
  box-shadow: 2px 3px 5px #888888;

  .block-title {
    @extend .text-center;
    font-family: $default-font;
    font-size: $default-font-size;
    font-weight: bold;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid $border-color;
  }
}
