<div id="right-sidebar">
  <% if is_user_page %>
    <%= render 'shared/sidebar/user' %>
  <% else %>
    <%= render 'shared/sidebar/links' %>
  <% end %>
  <%= render 'shared/sidebar/gallery' %>
</div>
