<div id="attachment">
  <div id="img-block" class="hidden">
    <div class="form-group">
      <div id="img-preview" class="img-preview form-group hidden">
        <img />
      </div>
    </div>
    <div class="form-group">
      <a id="post-attachment" href="javascript:void(0);" class="pull-right btn btn-primary">
        <i class="icon-attach-1"></i>
      </a>
      <%= f.file_field :attachment, class: 'hidden' %>
    </div>
  </div>
  <div id="link-block" class="hidden">
    <div class="form-group">
      <div id="link-preview" class="link-preview form-group hidden"></div>
      <%= f.hidden_field :preview_html %>
    </div>
  </div>
</div>
