<!-- img preview section -->
<div id="img-preview-section">
  <div class="form-group">
    <div id="img-preview" class="form-group hidden">
      <img />
    </div>
  </div>
</div>
<!-- link preview section -->
<div id="link-preview-section">
  <div class="form-group">
    <div id="link-preview" class="autobox-preview form-group hidden"></div>
    <%= f.hidden_field :preview_html %>
  </div>
</div>
