<div id="status-block">
  <div id="status-form-tabs">
    <ul class="nav nav-pills">
      <li id="status-mode-li" role="presentation" class="active status-mode">
        <a href="javascript:void(0);" data-status-mode="status">Status</a>
      </li>
      <li id="photo-mode-li" role="presentation" class="status-mode">
        <a href="javascript:void(0);" data-status-mode="photo">Photo</a>
      </li>
    </ul>
  </div>
  <div id="status-form">
    <%= render 'shared/status/form' %>
  </div>
</div>
