<div id="status-block">
  <!-- tabs to switch mode -->
  <div id="tabs-section">
    <ul class="nav nav-pills">
      <li role="presentation" class="active">
        <a href="javascript:void(0);" data-status-mode="status">Status</a>
      </li>
      <li role="presentation">
        <a href="javascript:void(0);" data-status-mode="photo">Photo</a>
      </li>
    </ul>
  </div>
  <!-- status form -->
  <div id="form-section">
    <%= render 'shared/status/form' %>
  </div>
</div>
