.navbar {
  padding: 2px;
  border: none;
  background-color: $navbar-color;
  input {
    margin-top: -2px;
    width: 350px !important;
    padding: 7px 10px !important;
  }
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;;
  font-size: 2rem;
  font-weight: 300;
}

.navbar-default .navbar-nav > li > a, .navbar-brand {
  color: white !important;
  &:hover {
    color: $bg-color !important;
  };
}

.navbar-nav > li > .dropdown-menu {
  width: 200px;
}

.navbar-nav > li > .dropdown-toggle > i {
  margin-left: 5px;
}

.navbar {
  .navbar-nav li a {
    &:hover, &:focus, &:active {
      color: white;
      background: darken($navbar-color, 10%);
    }
  }
}

.navbar-default .navbar-nav > .open > a {
  background: darken($navbar-color, 10%);
  &:hover,&:focus {
    background: darken($navbar-color, 10%);
  }
}

.navbar-nav > li > .dropdown-menu a {
  padding: 7px 20px;
  font-size: $medium-font-size;
  font-weight: 300;
}
