#sidebar {
  @extend .col-md-3;

  #gallery {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid $border-color;
    padding: 10px;

    h4 {
      font-family: $default-font;
      font-size: $default-font-size;
      font-weight: bold;
    }

    #g-photos {
      padding: 10px;
    }

    .g-photo {
      @extend .col-xs-4;
      padding: 0;
    }

    img {
      border: 1px solid $border-color;
      width: 100%;
      height: 100%;
    }
  }

  #links {
    a {
      padding: 12px;
    }

    i {
      font-size: $default-font-size;
      margin-right: 15px;
    }
  }
}
