.stream {
  @extend .col-md-6;

  .new-resource {
    @extend .well;
  }

  h4.underlined {
    text-align: center;
  }

  h4.underlined:after {
    content: '';
    background: rgba(0,0,0,0.25);
    height: 1px;
    width: 25px;
    display: block;
    margin: 10px auto 25px;
  }

  .resources-block {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border: 1px solid $border-color;
    padding: 25px 50px;
  }
}
