<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <h3>Deactivate</h3>
      <hr>
      <h5>Unhappy with Socify? Hit the Button below to cancel account.</h5>
      <br>
      <%= button_to 'Cancel my account', registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>