<div class="row">
  <div class="col-lg-3">
    <%= render 'partials/user_info' %>
  </div>
  <div class="col-lg-6 well">
    <h3>Followers</h3>
    <hr>
    <div id="followers">
      <%= render @followers %>
    </div>
    <%= render 'partials/paginate', resources: @followers %>
  </div>
  <div class="col-lg-3">
    <%= render 'partials/links' %>
  </div>
</div>