<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-lg-6 well">
    <h3>Followers</h3>
    <hr>
    <div id="followers">
      <%= render(@followers) || render('shared/no_resource', resources: 'Followers')  %>
    </div>
    <%= render 'shared/paginate', resources: @followers %>
  </div>
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>
</div>