<div class="row">
  <div class="col-md-3">
    <%= render 'shared/user_board' %>
  </div>
  <div class="col-md-6 well">
    <h3>Friends</h3>
    <hr>
    <div id="friends">
      <%= render(@friends) || render('shared/no_resource', resources: 'Friends') %>
    </div>
    <%= render 'shared/paginate', resources: @friends %>
  </div>
  <div class="col-md-3">
    <%= render 'shared/sidebar', page: 'friends' %>
  </div>
</div>
