<% if user.cover.attached? %>
  <div class="cover" style="background-image: url(<%= user.cover %>);"></div>
<% else %>
  <div class="cover" style="background-image: url(/assets/cover.png);"></div>
<% end %>