<div class="comments">
  <% if defined? show_all %>
    <% resource.comments.each do |comment| %>
      <div id="comment-<%= comment.id %>" class="comment">
        <%= render comment, is_activity: false %>
      </div>
    <% end %>
  <% else %>
    <% resource.comments.sort_by { |t| - t.created_at.to_i }.first(5).each do |comment| %>
      <div id="comment-<%= comment.id %>" class="comment">
        <%= render comment, is_activity: false %>
      </div>
    <% end %>
  <% end %>
</div>
