<%= form_tag posts_path do |f| %>
  <div class="form-group">
    <%= text_area_tag 'post[content]', nil, class: 'form-control', autofocus: true, placeholder: "What's up?" %>
  </div>
  <div class="actions">
    <%= submit_tag :post, class: 'btn btn-primary' %>
  </div>
<% end %>