<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      Lampix is a truly interactive tabletop augmented reality system that uses machine learning and blockchain-based image sourcing to recognize, reveal and react to the visual world. 
    <br>
    <h3>Why?</h3>
    <p>

      Lampix is going to be the next big thing for technology, it will make learning a fun new expirence and kids will find school much more entertaining. It's the new era of technology and is not something that should be slept on.
    </p>
    <br>
    <h3>How?</h3>
    <p>
     Lampix's open API provides basic functionalities for developers to help make app development much easier. We will also provide code samples, example projects and helpful API documentation. Examples of functionalities that will be provided by the API include document recognition and optical character recognition (OCR).
    </p>
    <br>
    <a href="https://github.com/sudharti/Lampix" class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/sudharti/Lampix" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
  </div>
</div>
