<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
     Lorem ipsum content
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      Lorem ipsum <%= fa_icon 'medium' %> Blog post</a>.
    </p>
    <br>
    <h3>How?</h3>
    <p>
      about 
    </p>
    <br>
    

    </a>
  
    </a>
  </div>
</div>