<div class="row">
  <%= render 'shared/user_board' %>
  <div class="col-md-6 well">
    <h3>Find Friends</h3>
    <hr>
    <div id="users">
      <%= render(@users) || render('shared/no_resource', resources: 'Users') %>
    </div>
    <%= render 'shared/paginate', resources: @users %>
  </div>
  <%= render 'shared/sidebar', page: 'find_friends' %>
</div>
