<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div id="users">
      <%= render @users %>
    </div>
    <div id="endless-scroll">
      <%= will_paginate @users %>
    </div>
  </div>
</div>