<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <% @users.each do |user| %>
      <div id="user-<%= user.id %>">
        <%= user.name %>
        <div class="follow">
          <%= render 'follows/form', user: user %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>