<div class="row">
  <%= render 'shared/sidebar/left' %>
  <div class="stream">
    <div id="users" class="resources-block">
      <h4 class="underlined">FIND FRIENDS</h4>
      <%= render(@users) || render('shared/no_resource', resources: 'Users') %>
    </div>
    <div class="pagination-block">
      <%= render 'shared/paginate', resources: @users %>
    </div>
  </div>
  <%= render 'shared/sidebar/right', page: 'find_friends' %>
</div>
