<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <% @users.each do |user| %>
      <div id="user-<%= user.id %>">
        <%= render 'partials/avatar', user: user %>
        <%= user.name %>
        <%= render 'follows/form', user: user %>
      </div>
      <hr>
    <% end %>
  </div>
</div>