<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div id="activities">
        <%= render_activities(@activities) %>
      </div>
      <div id="endless-scroll">
        <%= will_paginate @activities %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h2>Socify</h2>
  </div>
</div>