<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h4><%= fa_icon "newspaper-o" %> NEWSFEED</h4>
    <div id="activities">
      <%= render_activities(@activities) %>
    </div>
    <div id="endless-scroll">
      <%= will_paginate @activities %>
    </div>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>Socify</h1>
    <p>Socify is an open source social networking app written using Ruby on Rails. You can checkout the <a href="#">Blog post</a> on how
    it was developed and also the <a href="#">Source code on Github</a>.</p>
  </div>
</div>