<div class="row">
  <div class="stream">
    <div id="activities" class="resources-block">
      <h4 class="underlined"><%= fa_icon 'newspaper-o' %> NEWSFEED</h4>
      <% if @activities.empty? %>
        <%= render('shared/no_resource', resources: 'Activities') %>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <div class="pagination-block">
      <%= render 'shared/paginate', resources: @activities %>
    </div>
  </div>
</div>
