
  <div id="intro" class="col-lg-6">
    <h1>peershelf</h1>
    <p> lorem ipsum <%= fa_icon 'diamond' %> <a </p>
    <hr>
    
      <%= fa_icon 'star' %> Star it
    </a>

      <%= fa_icon 'code-fork' %> Fork it
    </a>
  </div>
</div>
