<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= render 'form' %>
    <div class="row">
      <div class="col-lg-12">
        <%= render_activities(@activities, layout: '/partials/activity') %>
      </div>
    </div>
  </div>
</div>