<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= render 'posts/form' %>
    <br>
    <div id="newsfeed" class="row">
      <h4><%= fa_icon "newspaper-o" %> NEWSFEED</h4>
      <div class="activities">
        <%= render_activities(@activities, layout: :activity) %>
      </div>
      <div id="endless-scroll">
        <%= will_paginate @activities %>
      </div>
    </div>
  </div>
</div>