<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= render 'posts/form' %>
    <div class="row">
      <div id="activities" class="col-lg-12">
        <%= render_activities(@activities, layout: :activity) %>
        <%= will_paginate @activities %>
      </div>
    </div>
  </div>
</div>