<div class="stream">
  <div class="new-resource">
    <%= render 'shared/status/status' %>
  </div>
  <div id="activities" class="resources-block">
    <h4 class="underlined">STREAM</h4>
    <% if @activities.empty? %>
      <%= render('shared/no_resource', resources: 'Activities') %>
    <% else %>
      <%= render_activities(@activities, layout: '/shared/activity') %>
    <% end %>
  </div>
  <div class="pagination-block">
    <%= render 'shared/paginate', resources: @activities %>
  </div>
</div>
