<div class="stream">
  <div class="resources-block">
    <h4 class="underlined">EVENTS</h4>
    <div class="row">
      <div id="events">
        <%= render(@events) || render('shared/no_resource', resources: 'Events') %>
      </div>
    </div>
  </div>
</div>
