<div id="events-stream" class="stream">
  <div class="new-resource">
    <div class="row">
      <div class="col-xs-8">
        <%= react_component 'EventTabs' %>
      </div>
      <div class="col-xs-4">
        <%= link_to new_event_path, class: 'btn btn-sm btn-primary pull-right' do %>
          <i class="icon-plus"></i> New Event
        <% end %>
      </div>
    </div>
  </div>
  <div id="events" class="resources-block newsfeed">
    <h4 class="underlined">EVENTS</h4>
    <%= render(@events, is_editable: true) || render('shared/no_resource', resources: 'Events') %>
  </div>
</div>
