<div class="row">
  <div class="col-md-3">
    <%= render 'shared/user_board' %>
  </div>
  <div class="col-md-6 well">
    <%= render 'form' %>
  </div>
  <div class="col-md-3">
    <%= render 'shared/gallery' %>
    <%= render 'shared/links', page: 'event'%>
  </div>
</div>
