<div class="row">
  <%= render 'shared/sidebar/left' %>
  <div class="stream">
    <div class="new-resource">
      <h4 class="underlined">CREATE EVENT</h4>
      <%= render 'form' %>
    </div>
  </div>
  <%= render 'shared/sidebar/right', page: 'event' %>
</div>
