<div id="event-<%= @event.id %>" class="show">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @event, remote: false, render_actions: true, render_comments: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @event %>
      <%= render 'shared/resource_comments', resource: @event, show_all: true %>
    </div>
  </div>
</div>
