<div class="modal fade" id="edit-photo-album-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="underlined">EDIT PHOTO ALBUM</h4>
        <%= form_tag update_photo_album_path, remote: true do %>
          <%= hidden_field_tag :id, photo_album.id %>
          <div class="form-group">
            <%= text_field_tag 'photo_album[title]', photo_album.title, id: 'photo-title', class: 'form-control', autofocus: true, placeholder: 'Photo Title' %>
          </div>
          <div class="form-group">
            <%= submit_tag :update, class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
