<div class="row">
  <%= render 'shared/user_board' %>
  <div class="stream">
    <div class="new-resource">
      <h4 class="underlined">CREATE PHOTO ALBUM</h4>
      <%= render 'form' %>
      <%= render 'photos/form' %>
    </div>
  </div>
  <%= render 'shared/sidebar', page: 'photo_album' %>
</div>
