@import "bootstrap/dist/css/bootstrap.css";

.input-file-field {
  .preview {
    .attachment {
      width: auto;
      max-height: 75px;
    }

    .remove-attachment {
      @extend .btn, .btn-danger, .pull-right;
      margin-right: 15px;
    }
  }
}
