:root {
  --default-font-size: 1.5rem;
  --vlarge-font-size: 2.25rem;
  --large-font-size: 1.85rem;
  --medium-font-size: 1.45rem;
  --small-font-size: 1.25rem;
  --lato-font: 'Lato', sans-serif;
  --raleway-font: 'Raleway', sans-serif;
}
