@import "./colors";
@import "./fonts";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

body {
  padding-top: 100px;
  background: var(--bg-color, '#fff');
  font-family: var(--lato-font, 'Helvetica');
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--raleway-font, 'Helvetica');
}
/***********************************************/
/* input field, textarea styles start */
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  height: auto;
  padding: 10px 17px;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  font-family: var(--lato-font, 'Helvetica');

  &:focus {
    border: 1px solid #888 !important;
  };
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: var(--light-text-color);
}

[placeholder]:empty:focus:before {
  content: '';
}
/* input field, textarea styles end */
/***********************************************/
/***********************************************/
/* sidebar styles start */
.sidebar-block {
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 2px 3px 5px var(--box-shadow);

  .block-title {
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    font-weight: bold;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
  }

  .list-group {
    margin-bottom: 5px;

    .list-group-item {
      text-align: left;
      border-radius: 0;
      border-left: none;
      border-right: none;

      i {
        font-size: var(--default-font-size);
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    .list-group-item:first-child {
      border-top: none;
    }

    .list-group-item:last-child {
      border-bottom: none;
    }
  }
}
/* sidebar styles end */
/***********************************************/
/***********************************************/
/* btn styles start */
.btn {
  font-family: var(--lato-font, 'Helvetica');
}
/* btn styles end */
/***********************************************/
