@import "./colors";
@import "./fonts";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

body {
  padding-top: 100px;
  background: var(--bg-color, '#fff');
  font-family: var(--lato-font, 'Helvetica');
  font-weight: 300;
}
/***********************************************/
/* input field, textarea styles start */
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  height: auto;
  padding: 10px 17px;
  box-shadow: none !important;
  border: 1px solid #ccc !important;

  &:focus {
    border: 1px solid #888 !important;
  };
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: var(--light-text-color);
}

[placeholder]:empty:focus:before {
  content: '';
}
/* input field, textarea styles end */
/***********************************************/
