.activity,
.show {
  border-bottom: 1px solid $border-color;
  padding: 25px 35px;

  .activity-user-info {
    @extend .col-xs-11;

    .name {
      @extend .name;
      display: inline-block;
      margin-left: 15px;
    }
  }

  .activity-created-at {
    @extend .col-xs-offset-2;
    margin-top: -17px;
  }

  .icon {
    @extend .col-xs-2;
    margin-left: 10px;
    margin-top: 20px;

    img {
      width: 85px;
      height: 85px;
    }
  }

  .photo-album {
    .thumbnail {
      @extend .col-xs-3;
      padding: 0;
      border-radius: 0;
    }

    .default-thumbnail {
      @extend .col-xs-8, .col-xs-offset-2, .thumbnail;

      .caption {
        border-top: 1px solid $border-color;
        @extend .text-center;
      }
    }
  }
}

.show {
  background: none;
}
