.comment-activity {
  .comment-activity-content {
    @extend .col-xs-9, .col-xs-offset-2;
    margin-top: 15px;
    background-color: $bg-color;
    padding: 10px;

    p {
      margin: 0;
    }
  }

  .comment-activity-commentable {
    @extend .well;
    margin-top: 20px;

    .comment-content,
    .comment-created-at {
      padding-left: 15px;
    }
  }
}
