.post-activity {
  .post-activity-content {
    @extend .col-xs-12;
    margin-top: 20px;

    .content-html {
      word-wrap: break-word;
      overflow: auto;
      font-size: $medium-font-size;
      font-weight: 300;
      font-family: $default-font;
    }

    .autobox-preview {
      margin-top: 20px;
    }

    .attachment {
      margin-top: 15px;
    }
  }
}
