<div class="comments-block">
  <% if user_signed_in? %>
    <div class="row">
      <%= render 'comments/form', c: resource %>
    </div>
  <% end %>
  <div class="row">
    <div class="comments">
      <% if expand %>
        <% resource.comments.each do |comment| %>
          <%= render comment, is_activity: false %>
        <% end %>
      <% else %>
        <% get_recent(resource).each do |comment| %>
          <%= render comment, is_activity: false %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
