<% if belongs_to_user?(post) %>
  <div class="dropdown">
    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon 'chevron-down' %>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View', post_path(post) %>
      </li>
      <li>
        <%= link_to 'Edit', edit_post_path(post) %>
      </li>
      <li>
        <%= link_to 'Delete', post_path(post), method: :delete, remote: remote %>
      </li>
    </ul>
  </div>
<% end %>
