<% if user_signed_in? %>
  <%= form_for(@post) do |f| %>
    <div class="form-group">
      <h4>Update Status</h4>
      <%= f.text_area :content, class: 'form-control', autofocus: true, placeholder: 'What\'s up?' %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-primary'%>
  <% end %>
<% end %>