<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label 'Update status' %><br>
    <%= f.text_area :content, class: 'form-control', autofocus: true, placeholder: 'What\'s up?' %>
  </div>
  <%= f.submit :post, class: 'btn btn-primary'%>
<% end %>