<div class="posts-form">
  <div id="posts-form-tabs">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Status</a></li>
      <li role="presentation"><a href="#">Photo</a></li>
    </ul>
  </div>
  <%= form_for(@post, html: { class: 'form' }) do |f| %>
    <div class="form-group">
      <div id="pseudo_post_content" contenteditable="true" class="editable form-control input-mentionable" placeholder="What's up?">
        <%= f.hidden_field :content, class: 'form-control input-mentionable', autofocus: true %>
        <%= f.hidden_field :content_html %>
      </div>
    </div>
    <div class="form-group">
      <%= button_tag(type: :submit, class: 'btn btn-primary') do %><i class="icon-paper-plane"></i> Post<% end %>
    </div>
  <% end %>
</div>
