<div id="post-<%= @post.id %>" class="show">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @post, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <%= render 'shared/comments_block', resource: @post, show_all: true %>
    </div>
  </div>
</div>
