// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-block {
  background-color: $bg-color;
  padding: 30px 50px;
  margin-top: 20px;

  .avatar {
    padding: 10px;
  }

  .content {
    margin-top: 5px;
    padding-left: 85px;
  }
}
