// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-comment, .activity-like, .comment, .like {
  .content {
    border: 1px solid $border-color;
    margin-left: 75px;
    margin-right: 15px;
    padding: 5px 15px;
    .text {
      font-size: $default-font-size;
    }
  }

  .created-at {
    margin-left: 75px;
  }
}