// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity-event, .event {
  .content {
    margin-left: 60px;
    padding: 0px 15px;
  }
}