// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event {
  @extend .col-xs-12;

  .user-info {
    @extend .col-xs-11;
    .name {
      display: inline-block;
      margin-left: 15px;
    }
  }

  .actions {
    @extend .col-xs-1;
    .dropdown {
      margin-top: 15px;
      li a {
        padding: 10px;
        font-size: $small-font-size;
        font-weight: 300;
      }
    }
  }

  .created-at {
    @extend .col-xs-offset-2;
    margin-top: -12px;
  }

  .icon {
    @extend .col-xs-1;
    margin-left: 10px;
    margin-top: 20px;
    i {
      color: $default-color;
      opacity: 0.8;
      font-size: 5rem;
    }
  }

  .content {
    @extend .col-xs-9;
    margin-left: 20px;
    margin-top: 20px;

    .text {
      font-size: $large-font-size;
      font-weight: 300;
      font-family: $default-font;
    }

    .calendar {
      margin-top: 10px;
      font-size: $small-font-size;
    }
  }

  .like-and-comment {
    @extend .col-xs-10;
    margin-top: 30px;
    margin-left: 15px;

    .like, .comment {
      display: inline-block;
      i {
        color: $default-text-color;
        font-size: $large-font-size;
      }
    }

    .likes-count, .comments-count {
      color: $default-text-color;
      font-size: $small-font-size;
    }
  }
}
