// Place all the styles related to the follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-follow {

  .action {
    font-size: $default-font-size;
    margin-left: 2px;
  }

  .followee {
    margin-left: 75px;
  }

  .created-at {
    margin-left: 75px;
  }
}