// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}