// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like button {
  background: none !important;
  border: none !important;
  outline: none;
  padding: 0;
}

.liked i {
  color: $liked-color !important;
}

.like > form {
  display: inline-block;
}

.likes-count {
  margin-left: 3px;
}
