// Place all the styles related to the photo_albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropzone {
  margin-top: 25px;
  background: $bg-color;
  border: 1px solid $border-color;
}

.dz-message {
  font-size: 2rem;
}

#photo-albums {
  margin-top: 50px;
  .photo-album {
    @extend .col-md-6;
    .thumbnail {
      background: $bg-color;
      text-decoration: none;
      padding: 0px;
      img {
        height: 200px;
        padding: 10px 0px;
      }
    }
    .caption {
      @extend .text-center;
      border-top: 1px solid $border-color;
      padding: 5px !important;
    }
  }
}
