// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  .content {
    margin-left: 60px;
    padding: 5px 15px;
    .text {
      font-size: $default-font-size;
    }

    .attachment {
      margin-top: 10px;
      img {
        width: 100%;
      }
    }

    .points span {
      padding: 5px;
      background-color: $bg-color;
      color: $light-text-color;
      display: inline-block;
      font-size: $small-font-size;
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  .actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $border-color;
    a, button {
      font-family: 'Montserrat', sans-serif;
      background-color: $border-color;
      color: #555;
      i {
        margin-right: 5px;
      }
    }

    .liked {
      color: $liked-color;
    }
  }
}