@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

body {
  padding-top: 100px;
  background: $bg-color;
  font-family: $default-font;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.btn {
  font-weight: 300;

  &:focus {
    outline: 0 !important;
  }
}

.avatar,
.avatar-sm {
  border-radius: 10rem;
}

.avatar {
  width: 55px;
  height: 55px;
}

.avatar-sm {
  width: 35px;
  height: 35px;
}

.well {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 25px;
  border-radius: 3px;
  border: 1px solid $border-color;
  box-shadow: none;
}

.created-at {
  color: $light-text-color;
  font-size: $small-font-size;
}

.btn {
  padding: 7px 17px;
}

.btn-primary {
  background-color: $navbar-color;

  &:active,
  &:hover {
    background: #0E6AC7;
  }
}

.btn-primary-inverted {
  background-color: white;
  border: 1px solid $default-color;
  color: $default-color;

  &:active,
  &:hover {
    background: $default-color;
    color: white;
  }
}

.btn-sm {
  padding: 7px 15px;
}

#btn-facebook {
  background-color: $facebook-color;

  &:active,
  &:focus,
  &:hover {
    background: darken($facebook-color, 5%);
  }
}

#btn-google {
  background-color: $google-color;

  &:active,
  &:focus,
  &:hover {
    background: darken($google-color, 5%);
  }
}

.btn-social {
  color: white;

  &:active,
  &:focus,
  &:hover {
    color: white;
  }
}

.alert-fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 32%;
  margin-top: 30px;
  width: 450px;
  z-index: 10000;
  text-align: center;
  padding: 5px 25px;
}

.underlined {
  text-align: center;
}

.underlined:after {
  content: '';
  background: rgba(0,0,0,0.25);
  height: 1px;
  width: 25px;
  display: block;
  margin: 10px auto 15px;
}

.modal-header {
  border-bottom: none;

  button {
    cursor: pointer;
  }
}

/* Put common css here */
.name {
  a {
    font-family: $default-font;
    font-size: $medium-font-size;
    text-decoration: none;
    color: $default-text-color;
    font-weight: bold;

    &:active,
    &:hover {
      color: $link-hover-color;
    }
  }
}

/***********************************************/

/* Resource actions dropdown styles start */
.actions {
  @extend .col-xs-1;

  .dropdown {
    margin-top: 15px;

    li a {
      padding: 10px;
      font-size: $small-font-size;
      font-weight: 300;
    }
  }
}
/* Resource actions dropdown styles end */

/***********************************************/

/* Input field, text area, contenteditable styles start */
div.editable,
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  height: auto;
  padding: 10px 17px;
  box-shadow: none !important;
  border: 1px solid #ccc !important;

  &:focus {
    border: 1px solid #888 !important;
  };
}

div.editable {
  height: 65px;
  max-height: 65px;
  overflow-y: scroll;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: $light-text-color;
}

[placeholder]:empty:focus:before {
  content: '';
}
/* Input field, text area, contenteditable styles end */

/***********************************************/

/* Link preview with Onebox styles start */
.autobox-preview {
  width: 100%;
  @extend .well;
  padding: 10px;
  margin-bottom: 10px;

  .onebox {
    iframe {
      width: 100%;
    }

    .source {
      @extend .label, .label-default;
      display: inline-block;
      margin-bottom: 20px;
      font-size: $small-font-size;

      a {
        color: $white;
      }
    }

    .onebox-body {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        a {
          font-size: $large-font-size;
          font-family: $default-font;
          color: $default-text-color;
        }
      }

      .tags {
        @extend .label, .label-primary;
      }

      .date {
        margin-top: 10px;
      }
    }
  }

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 100px;
  }

  img {
    width: 100px;
    height: auto;
  }
}
/* Link preview with Onebox styles end */

/***********************************************/
.inline-block {
  display: inline-block;
}
