@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

body {
  padding-top: 100px;
  background: $bg-color;
  font-family: $default-font;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.btn {
  font-weight: 300;
}

.avatar, .avatar-sm {
  border-radius: 10rem;
}

.avatar {
  width: 55px;
  height: 55px;
}

.avatar-sm {
  width: 35px;
  height: 35px;
}

.cover {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.well {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 25px;
  border-radius: 5px;
  border: 1px solid $border-color;
}


.name {
  a {
    font-family: $default-font;
    font-size: $medium-font-size;
    text-decoration: none;
    color: $default-text-color;
    font-weight: bold;
    &:hover, &:active {
      color: $link-hover-color;
    }
  }
}

.created-at {
  color: $light-text-color;
  font-size: $small-font-size;
}

.btn {
  padding: 7px 20px;
}

.btn-primary {
  background-color: $navbar-color;
  &:hover, &:active {
    background: #0E6AC7;
  }
}

.btn-primary-inverted {
  background-color: white;
  border: 1px solid $default-color;
  color: $default-color;
  &:hover, &:active {
    background: $default-color;
    color: white;
  }
}

.btn-sm {
  padding: 7px 15px;
}

#btn-facebook {
  background-color: $facebook-color;
  &:hover, &:focus, &:active {
    background: darken($facebook-color, 5%);
  }
}

#btn-google {
  background-color: $google-color;
  &:hover, &:focus, &:active {
    background: darken($google-color, 5%);
  }
}

.btn-social {
  color: white;
  &:hover, &:focus, &:active {
    color: white;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  height: auto;
  padding: 10px 17px;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  &:focus {
    border: 1px solid #888 !important;
  };
}

.alert-fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 32%;
  margin-top: 30px;
  width: 450px;
  z-index: 10000;
  text-align: center;
  padding: 5px 25px;
}

#gallery {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid $border-color;
  padding: 10px;
  h4 {
    font-family: $default-font;
    font-size: $default-font-size;
    font-weight: bold;
  }
}

#links {
  a {
    padding: 12px;
  }
  i {
    font-size: $default-font-size;
    margin-right: 15px;
  }
}

.commentable, .likeable {
  @extend .well;
  margin-top: 20px;
}
