// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  @extend .row;
  padding: 10px 20px;
  .user-info {
    @extend .col-md-9;
    .name {
      margin-left: 15px;
    }

    .location {
      margin-top: -10px;
      margin-left: 75px;
    }
  }

  .follow-button {
    @extend .col-md-2;
  }
}
