// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-board {
  background-color: white;
  border: 1px solid $border-color;
  .cover {
    height: 125px;
    position: relative;

    .avatar {
      width: 75px;
      height: 75px;
      border-radius: 10rem;
      position: absolute;
      bottom: 0;
      left: 37%;
      margin-bottom: -35px;
      border: 3px solid white;
    }
  }

  #info {
    margin-top: 35px;
    line-height: 1.85rem !important;
    padding: 15px;
    text-align: center;
  }
}

#links {
  margin-top: 25px;
  a {
    padding: 12px;
  }
  i {
    opacity: 0.9;
    font-size: $default-font-size;
    margin-right: 15px;
  }
}
