$navbar-color: #2F64A3;
$border-color: #e0e0e0;
$liked-color: #2a6496;
$default-color: #2F64A3;
$bg-color: #F0F5F9;
$light-text-color: #909090;
$facebook-color: #0f66aa;
$google-color: rgb(209, 72, 54);
$default-font-size: 1.5rem;
$vlarge-font-size: 2.25rem;
$large-font-size: 1.85rem;
$medium-font-size: 1.45rem;
$small-font-size: 1.25rem;
$default-font: 'Lato', sans-serif;
$stylized-font: 'Raleway', sans-serif;
$default-text-color: #202020;
$link-hover-color: #2F64A3;
$location-icon-color: #f7544a;
$calendar-icon-color: #4585f1;

/* Common colors */
$white: #FFFFFF;
