$navbar-color: #0066CC;
$border-color: #e0e0e0;
$liked-color: #2a6496;
$bg-color: #F0F5F9;
$light-text-color: #808080;
$facebook-color: #0f66aa;
$google-color: rgb(209, 72, 54);
$default-font-size: 1.5rem;
$small-font-size: 1.25rem;
