<!DOCTYPE html>
<html>
  <head>
    <title>Socify - Open source social networking platform</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
